@import 'tailwindcss';
@import '@trenaryja/ui/css';
@source '../node_modules/@trenaryja/ui';

@plugin "daisyui" {
	themes: all;
}

@utility equation {
	@apply grid gap-5 justify-center p-5 rounded-3xl;
	@apply sm:flex sm:flex-wrap;
}

@utility question {
	@apply grid gap-1 justify-center place-items-center w-fit *:text-nowrap text-center;
	@apply sm:flex;
}

@utility answer {
	@apply grid place-items-center;
}

input {
	@apply input w-fit appearance-none text-center focus:outline-0;
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&[readonly] {
		@apply border-primary;
	}
}

h1 {
	@apply bg-linear-to-r from-base-content to-primary text-transparent bg-clip-text;
}
